<style type="text/css">
h2 span.title{
	display:inline;
	font-style:italic;
}
.tei.prepub{
	display:none;
}
.tei.head{
	display:none;
}
.tei.hi{
	display:inline;
	font-style:italic;
}
.tei.rend__sc{
	text-transform: uppercase;
}
.tei.rend__i{
	font-style:italic;
}
.tei.note{
	background-color:#EFEFEF;
	margin:0 1em;
}
.tei.text{letter-spacing:.05em;}
blockquote{
	border : 1px solid #888;
	border-right:none;
	width: 200px;
	float: right;
	margin: 0px;
	padding: 10px;
	background-color: #ccc;
	quotes: "\201C" "\201D";
}
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }
</style>

<% @page_title = @response.docs.first[:poem_title_t] %>

<% @response.docs[0..0].each do |doc| %>
	<dl class="note defList">
		<% doc.each_pair do |k,v| %>
			<% next if ['variant_facet', 'xml_s', 'xml_t', 'collapse_id', 'id', 'file_s', 'local_id', 'filename_s', 'poem_slug_s', 'collection_id', 'spell'].include?(k) %>
			<dt><%= k %></dt>
			<dd><%= v %></dd>
		<% end %>
	</dl>
	<hr/>
<% end %>

<%
=begin
%>
<% variant_facet = @response.facets.detect{|f| f.name == 'variant_facet'} %>

<% variants = variant_facet.items.map{|i|i.value} %>

<%
doc_groups = {}
variants.each do |v|
	doc_groups[v] ||= []
	doc_groups[v] = @response.docs.select{|d| d[:variant_facet].first == v }
end
%>

<% doc_groups.each_pair do |variant,docs| %>
	<h4><%= h variant %></h4>
	<% docs.each_with_index do |doc,index| %>
		<div><%= poem_xml_to_html doc[:xml_s] %></div>
	<% end %>
	<% break %>
<% end %>

<% 
=end
%>